
.homepage { // classe da div principal
    padding: 0 4rem;
    height: calc(100vh - 6.5rem); 
    overflow-y: scroll;
    h2 {
       margin-top: 3rem;
       margin-bottom: 1.5rem;

    }
    
}


.latestEpisodes {
    ul {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.7rem;


        li {
            background: rgb(205, 198, 198);
            border: 1px solid var(--gray-100);
            padding: 1.25rem;
            border-radius: 0.8rem;
            position: relative;

            display: flex;
            align-items: center;

            &:hover {
                background: rgb(173, 173, 173);
            }
            img {
                width: 3.5rem;
                height: 4rem;
                border-radius: 0.6rem;

            }

            .episodeDetails {
                    flex: 1;
                    margin-left: 1rem;

                    a {
                        display: block;
                        color: var(--gray-800);
                        font-family: Lexend, sans-serif;
                        font-weight: 600;
                        text-decoration: none;
                        line-height: 1.4rem;
                        font-size: 1.1rem;

                        &:hover {
                            text-decoration: underline;
                            text-decoration-color: rgb(6, 6, 6);
                            color: rgb(35, 34, 34);
                            font-size: 1.3rem;
                        }

                    }
                    p {
                        font-size: 1rem;
                        margin-top: 0.5rem;
                        max-width: 70%;
                        white-space: inherit; // utilizado para nao quebra de linha 
                        overflow: hidden; // o que passar dos 70% de largura, nao sera visivel para o usuario


                        &:hover {
                            color: aliceblue;
                            font-size: 1.3rem;
                            white-space: initial;
                            cursor: default;
                        }

                    }
                    span {
                        display: inline-block;
                        margin-top: 0.5rem;
                        font-size: 0.875rem;

                      
                    }

            }
            button {
                position: absolute ;
                right: 2rem;
                bottom: 2rem;

                width: 3.8rem;
                height: 3.8rem;
                background:rgb(231, 228, 228);;

                border: 1px solid var(--gray-100);
                border-radius: 4rem;

                transition: all 0.35s;
                img {
                    width: 2.3rem;
                    height: 2.3rem;
                }

                

                &:hover {
                    width: 4.5rem;
                    height: 4.5rem;

                    img {
                        width: 3rem;
                        height: 3rem;
                        
                    }
                    
                }
            }
        }
        
    }
}



.allEpisodes {
    padding-bottom: 2rem;

    table {
        width: 100%;
        
        tr {
            &:hover {
                background-color: rgb(189, 189, 189);
                color: white;

                td {
                    font-size: 1.35rem;
                }

            }
        }
        
        th, td {
            padding: 0.75rem;
            border-bottom: 2px solid rgb(192, 190, 190);

           
        }

        th {
            color: var(--gray-800);
            text-transform: uppercase;
            font: 500 1.1rem Lexend, sans-serif;
            text-align: left;
            
        }

        td {
            
            font-size: 1.12rem;

            img {
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 0.4rem;                
            }

            a {
                color: var(--gray-800);
                font-family: Lexend, sans-serif;
                font-weight: 600;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                    text-decoration-color: rgb(6, 6, 6);
                    color: rgb(35, 34, 34);
                    font-size: 1.3rem;
                    font-weight: 800;
                }

            }

            button {
                

                width: 3.8rem;
                height: 3.8rem;
                background:rgb(231, 228, 228);;

                border: 1px solid var(--gray-100);
                border-radius: 4rem;

                transition: all 0.35s;

                img {
                    width: 2.3rem;
                    height: 2.3rem;
                }

                

                &:hover {
                    width: 4.5rem;
                    height: 4.5rem;

                    img {
                        width: 3rem;
                        height: 3rem;
                        
                    }
                    
                }

            }
        }
    }
    
}


// parei em 01:01:38 





















